# Random Forest Classifier (Label Encode All)

https://www.geeksforgeeks.org/random-forest-classifier-using-scikit-learn/

In [1]:
import pandas as pd
import numpy as np

In [2]:
test = pd.read_csv("UNSW_NB15_testing-set.csv", sep=',', header=0)
train = pd.read_csv("UNSW_NB15_training-set.csv", sep=',', header=0)

# Concatenate test and train set
df = pd.concat([train, test])

# Printing the shape of the datasets
print('Training Set Shape:', '\t\t', train.shape)
print('Testing Set Shape:', '\t\t', test.shape)
print('Concatenated Set Shape:', '\t' ,df.shape)

Training Set Shape: 		 (82332, 45)
Testing Set Shape: 		 (175341, 45)
Concatenated Set Shape: 	 (257673, 45)

In [3]:
# Splitting the dataset into inputs and outputs
X_train = train.iloc[:, 0:44]
X_test = test.iloc[:, 0:44]
y_train = train.iloc[:, 44]
y_test = test.iloc[:, 44]

## Label Encoder

In [4]:
import sklearn as sk
from sklearn import preprocessing 
from sklearn import model_selection
from sklearn.ensemble import RandomForestClassifier
# metrics are used to find accuracy or error
from sklearn import metrics

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
df_le = df.apply(le.fit_transform)
X_train_le = X_train.apply(le.fit_transform)
X_test_le = X_test.apply(le.fit_transform)

## Creating Classifier

In [7]:
# random forest model creation
clf = RandomForestClassifier(n_estimators = 300, verbose =1)

In [8]:
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train_le, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:   19.9s finished

RandomForestClassifier(n_estimators=300, verbose=1)

In [9]:
# performing predictions on the test dataset
y_pred = clf.predict(X_test_le)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    3.7s finished

In [10]:
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.8872083540073343

In [11]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.74      1.00      0.85     56000
           1       1.00      0.83      0.91    119341

    accuracy                           0.89    175341
   macro avg       0.87      0.92      0.88    175341
weighted avg       0.92      0.89      0.89    175341

In [15]:
X_train_le.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat
0,0,11,117,0,4,1,0,206,0,40603,...,0,0,1,0,0,0,0,1,0,6
1,1,8,117,0,4,1,0,853,0,40608,...,0,0,1,0,0,0,0,1,0,6
2,2,5,117,0,4,1,0,503,0,40611,...,0,0,2,0,0,0,0,2,0,6
3,3,6,117,0,4,1,0,418,0,40610,...,1,0,2,0,0,0,1,2,0,6
4,4,10,117,0,4,1,0,1024,0,40605,...,1,0,2,0,0,0,1,2,0,6